<table style="font-family: Arial, Helvetica, sans-serif, San Francisco, Helvetica Neue;">
    <tr>
        <td style="font-size: 12px;padding: 0 30px; ">
            <img src="angelys_Logo_noir.svg" alt="" style="width: 206px; height: auto; padding-top: 10px;">
        </td>
        <td
            style="font-weight: bold; line-height: 23px; font-size: 20px; padding: 0 30px; ">
            Marcelina STARK
        </td>
        <td style="font-size: 12px;
                padding: 0 30px; font-family: Helvetica, sans-serif">
            <a href="#" style="font-weight: bold; line-height: 18px; color: #000; text-decoration: none; ">
                www.angelys-group.com</a>
            <br>
            <a href="#" style="font-weight: bold; line-height: 16px;  color: #000;text-decoration: none; ">
                06 31 71 28 06__04 68 63 67 20</a>
        </td>
    </tr>
    <tr>
        <td style="display: flex;justify-content: center; color: #fff; text-align: center; padding: 5px 0 0 ; ">
            <a href="#" style="color: #fff; cursor: pointer;"> <img src="facebook.png" alt="facebook" style="width: 20px; height: 20px; margin: 5px 3px;"></a>
            <a href="#" style="color: #fff; cursor: pointer;"> <img src="instagram.png" alt="instagram" style="width: 20px; height: 20px; margin: 5px 3px;"></a>
            <a href="#" style="color: #fff; cursor: pointer;"> <img src="linkedin.png" alt="linkedin" style="width: 20px; height: 20px; margin: 5px 3px;"></i></a>
            <a href="#" style="color: #fff; cursor: pointer;"> <img src="pinterest.png" alt="pinterest" style=" width: 20px; height: 20px; margin: 5px 3px;"></i></a>
        </td>
        <td style="text-align:right; line-height: 20px; font-size: 14px; padding: 0 30px 15px;">Directrice Générale<br> Associée
            Angelys Group</td>
        <td style="line-height: 18px; padding: 15px 0 0 15px; font-size: 12px;padding: 0 30px;  ">
            46 rue de Provence, 75009 Paris<br>
            379 chemin de Cabestany A Bompas,<br>
            66000 Perpignan</td>
    </tr>
</table>
